.todo-item {
  display: flex;
  text-align: center;
  margin: 0.5em auto;
  @media (min-width: 768px) {
    margin: 1.5em auto;
  }
  & p {
    word-wrap: wrap;
    padding: 0.5em;
    width: 100%;
    @media (min-width: 768px) {
      padding: 0 1em;
    }
  }
}
